<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PentaServ | About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="index.html">PentaServ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="imagecompress.html">Compress Image</a></li>
                <li class="nav-item"><a class="nav-link" href="generate.html">Generate AI Image</a></li>
                <li class="nav-item"><a class="nav-link" href="llm.html">Generate AI Text</a></li>
                <li class="nav-item"><a class="nav-link" href="pdfcompress.html">Compress PDF</a></li>
                <li class="nav-item"><a class="nav-link" href="weather.html">Weather Search</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="https://github.com/raffiihza/micro-compressor"
                        target="_blank">GitHub Repo</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-3 mb-3">
        <div class="card mb-3">
            <div class="card-header">What is PentaServ?</div>
            <div class="card-body">
                <p class="card-text">
                    <b>PentaServ</b> is a small web application to help users with several online tools that can be
                    accessed for free.
                </p>
                <p class="card-text">
                    <b>PentaServ</b> was released in April 2024. It was developed by a team of four people from SI-45-08 class (mentioned
                    below) as part of their mid-term project for Enterprise Application Integration class. The team
                    utilized a variety of technologies to build PentaServ. For the frontend, they used HTML, CSS, and
                    Javascript, enhanced with the Bootstrap framework. The backend was developed using Python and
                    Javascript, and Docker was employed to containerize the backend instances. The hosting of the
                    application was done on GitHub Pages for the frontend, while Render was used for backend instances
                    with Python, and Cloudflare Workers for backend instances with Javascript. This diverse set of
                    technologies and platforms ensured a robust and efficient application.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
              Authors
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <div class="card">
                    <img class="card-img-top" src="images/image1.jpg" alt="Author 1">
                    <div class="card-body">
                      <h5 class="card-title">Fatih Albari</h5>
                      <p class="card-text">1202210330</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card">
                    <img class="card-img-top" src="images/image2.jpg" alt="Author 2">
                    <div class="card-body">
                      <h5 class="card-title">Raffi Ihza Zuhairnawan</h5>
                      <p class="card-text">1202210316</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card">
                    <img class="card-img-top" src="images/image3.jpg" alt="Author 3">
                    <div class="card-body">
                      <h5 class="card-title">Samuel Pasha Ginting</h5>
                      <p class="card-text">1202210390</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card">
                    <img class="card-img-top" src="images/image4.jpg" alt="Author 4">
                    <div class="card-body">
                      <h5 class="card-title">Sulthan Jihad</h5>
                      <p class="card-text">1202210419</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>