{% include 'header.html' %}

  <div class="container mt-3 mb-3">
    <div class="card">
      <div class="card-header">Generate Image with Stable Diffusion</div>
      <div class="card-body">
        <p class="card-text text-danger">
          <b>Please do not abuse this free service!</b>
        </p>

        <form id="prompt-form" class="mt-3">
          <div class="mb-3">
            <label for="prompt" class="form-label">Enter your prompt:</label>
            <input type="text" id="prompt" name="prompt" class="form-control" required />
          </div>
          <button type="submit" class="btn btn-primary">Generate</button>
          <a href="/generate/image/history" class="btn btn-primary">History</a>
          <p id="status" class="mt-2"></p>
        </form>

        <div id="image-container"></div>
        <script>
          const form = document.getElementById("prompt-form");
          const promptInput = document.getElementById("prompt");
          const statusText = document.getElementById("status");
          const imageContainer = document.getElementById("image-container");

          form.addEventListener("submit", async (event) => {
            event.preventDefault(); // Prevent default form submission

            statusText.textContent = "Loading...";

            const prompt = promptInput.value;

            const url = new URL("https://imageai.utseai.workers.dev");
            url.searchParams.append("prompt", prompt);

            try {
              const response = await fetch(url);
              if (!response.ok) {
                throw new Error(`Error: ${response.statusText}`);
              }

              const blob = await response.blob();
              const imageUrl = URL.createObjectURL(blob);

              imageContainer.innerHTML = `<p><a href="${imageUrl}" download="GeneratedImage.png">Download Image</a></p><p><img src="${imageUrl}" alt="Generated Image" class="img-thumbnail" width="40%"></p>`;
            } catch (error) {
              statusText.textContent = `Error: ${error.message}`;
            } finally {
              statusText.textContent = "The image has been generated!";
            }
          });
        </script>
      </div>
    </div>
  </div>

{% include 'footer.html' %}