{% include 'header.html' %}

    <div class="container mt-3 mb-3">
        <div class="card">
            <div class="card-header">Compress Image</div>
            <div class="card-body">
                <p class="card-text text-danger">
                    <b>Please do not abuse this free service!</b>
                </p>

                <form id="upload-form" method="POST" enctype="multipart/form-data" class="mt-3">
                    <div class="mb-3">
                        <label for="image" class="form-label">Select an image to compress:</label>
                        <input type="file" id="image" name="image" accept="image/*" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary">Compress</button>
                </form>
                <p id="loading" class="mt-2" style="display: none">Compressing image...</p>
                <p class="mt-2">
                    <a id="download-link" href="" download="compressed_image.jpg" style="display: none">Download
                        Image</a>
                </p>
                <p class="mt-2">
                    <img id="result" style="display: none" alt="Compressed image will appear here" width="40%"
                        class="img-thumbnail" />
                </p>

                <script>
                    document
                        .getElementById("upload-form")
                        .addEventListener("submit", function (event) {
                            event.preventDefault();
                            document.getElementById("loading").style.display = "block"; // Show the loading text
                            var formData = new FormData(event.target);
                            fetch("https://raffiihza-compressimage.onrender.com/compress", {
                                method: "POST",
                                body: formData,
                            })
                                .then((response) => response.blob())
                                .then((image) => {
                                    var imageElement = document.getElementById("result");
                                    var url = URL.createObjectURL(image);
                                    imageElement.src = url;
                                    imageElement.style.display = "block"; // Show the image element
                                    document.getElementById("loading").style.display = "none"; // Hide the loading text
                                    // Enable the download link
                                    var downloadLink = document.getElementById("download-link");
                                    downloadLink.href = url;
                                    downloadLink.style.display = "block";
                                })
                                .catch(console.error);
                        });
                </script>
            </div>
        </div>
    </div>

{% include 'footer.html' %}