{% include 'header.html' %}

  <div class="container mt-3">
    <div class="row">
      <div class="card-deck">
        <div class="card">
          <img src="https://apowersoft.id/cdn/img/compress-online/picture.svg" class="card-img-top img-fluid mt-3 pl-3 pr-3"
            style="height: 200px;" alt="Compress image">
          <div class="card-body">
            <h6 class="card-title">Compress Image</h6>
            <p class="card-text">This tool allows you to compress images.</p>
            <a href="/compress/image" class="btn btn-primary">Access</a>
          </div>
        </div>
        <div class="card">
          <center><img
              src="https://img.freepik.com/premium-vector/colorful-brush-palette-with-canvas-flat-design-art-concept_627567-3425.jpg"
              class="card-img-top img-fluid mt-3" style="height: 200px; width: 200px" alt="Generate Image"></center>
          <div class="card-body">
            <h6 class="card-title">Generate AI Image</h6>
            <p class="card-text">This tool allows you to generate AI images.</p>
            <a href="/generate/image" class="btn btn-primary">Access</a>
          </div>
        </div>
        <div class="card">
          <center><img
              src="https://static.vecteezy.com/system/resources/previews/024/122/540/large_2x/robot-chat-smart-ai-chatbot-using-laptop-flat-art-free-vector.jpg"
              class="card-img-top img-fluid mt-3" style="height: 200px; width: 200px" alt="Generate Image"></center>
          <div class="card-body">
            <h6 class="card-title">Generate AI Text</h6>
            <p class="card-text">This tool allows you to generate AI text.</p>
            <a href="/generate/text" class="btn btn-primary">Access</a>
          </div>
        </div>
        <div class="card">
          <img src="https://apowersoft.id/cdn/img/compress-online/pdf.svg" class="card-img-top img-fluid mt-3 pl-3 pr-3"
            style="height: 200px;" alt="Compress PDF">
          <div class="card-body">
            <h6 class="card-title">Compress PDF</h6>
            <p class="card-text">This tool allows you to compress PDF files.</p>
            <a href="/compress/pdf" class="btn btn-primary">Access</a>
          </div>
        </div>
      </div>
    <div class="container mt-3 mb-3">
      <div class="row justify-content-center">
        <div class="card-deck">
          <div class="card">
            <center><img src="https://cdn-icons-png.flaticon.com/512/5200/5200120.png" class="card-img-top img-fluid mt-3"
              style="height: 200px; width: 200px;" alt="Transcribe Audio"></center>
            <div class="card-body">
              <h6 class="card-title">Transcribe Audio</h6>
              <p class="card-text">This tool allows you to transcribe audio to text.</p>
              <a href="/transcribe" class="btn btn-primary">Access</a>
            </div>
          </div>
          <div class="card">
            <center><img src="https://cdn-icons-png.flaticon.com/512/2578/2578727.png" class="card-img-top img-fluid mt-3"
              style="height: 200px; width: 200px;" alt="Communicate with PDF"></center>
            <div class="card-body">
              <h6 class="card-title">Communicate with PDF</h6>
              <p class="card-text">This tool allows you to use AI to look up PDF's content.</p>
              <a href="/chat/pdf" class="btn btn-primary">Access</a>
            </div>
          </div>
          <div class="card">
            <center><img src="https://cdn-icons-png.flaticon.com/512/4652/4652346.png" class="card-img-top img-fluid mt-3"
              style="height: 200px; width: 200px;" alt="Search Weather"></center>
            <div class="card-body">
              <h6 class="card-title">Search Weather</h6>
              <p class="card-text">This tool allows you to find a city's weather.</p>
              <a href="/search/weather" class="btn btn-primary">Access</a>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>

{% include 'footer.html' %}
