{% include 'header.html' %}

  <div class="container mt-3 mb-3">
    <div class="card">
      <div class="card-header">Generate Text with Llama 3</div>
      <div class="card-body">
        <p class="card-text text-danger">
          <b>* Please do not abuse this free service!</b>
        </p>
        <p class="card-text text-danger">
          <b>* This model is still unstable, general knowledge should be fine, but we don't guarantee that it will work
            with any prompts!</b>
        </p>

        <form id="promptForm" class="mt-3">
          <div class="mb-3">
            <label for="prompt" class="form-label">Prompt:</label>
            <input type="text" id="prompt" name="prompt" class="form-control" />
          </div>
          <button type="submit" class="btn btn-primary">Generate</button>
          <a href="/generate/text/history" class="btn btn-primary">History</a>
        </form>
        <p id="loading" class="mt-2" style="display: none">Loading...</p>
        <p id="response" class="mt-2"></p>


        <script>
          document
            .getElementById("promptForm")
            .addEventListener("submit", function (event) {
              event.preventDefault();
              var prompt = document.getElementById("prompt").value;
              var loading = document.getElementById("loading");
              var responseElement = document.getElementById("response");

              loading.style.display = "block";
              responseElement.textContent = "";

              fetch(
                "https://llama3.llmeai.workers.dev/?prompt=" +
                encodeURIComponent(prompt)
              )
                .then((response) => response.json())
                .then((data) => {
                  loading.style.display = "none";
                  var responseText = data[0].response.response;
                  responseElement.innerHTML = responseText.replace(/\n/g, "<br>");
                })
                .catch((error) => {
                  loading.style.display = "none";
                  responseElement.textContent = "Error: " + error;
                });
            });
        </script>
      </div>
    </div>
  </div>

{% include 'footer.html' %}